.container {
    @include startcontainer
}
@media (max-width:1230px){
    .container{ width: 90%;

    }
}
.flex {
    display: flex;
}
.flex3 {
    display: flex;
    justify-content: space-between;
}
.info-text {
    width: 235px;
    height: 212px ;
    border: 1px solid black;
    .Name {
        color: $color-s1;
        font-family: Helvetica;
        font-size: 17px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 9px;
    }
    .services {
        color: $comp1color;
        font-family: Helvetica;
        font-size: 28px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 37px;
    }
    .text-p {
        color: $color-s2;
        font-family: Helvetica;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}
.flex2 {
    max-width: 920px;
    width: 100%;
    display: flex;
    border: 1px solid black;
    flex-wrap: wrap;
    justify-content: space-between;
}
.div-card {
    width: 286px ;
    height: 314px;
    border: 1px solid black;
    margin-bottom: 56px;
    .img-s1 {
        width: 100%;
    }
    .card-name {
        margin-top: 23px;
        color: $color-s2;
        font-family: Helvetica;
        font-size: 19px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 9px;
    }
    .card-text {
        color: $color-s1;
        font-family: Helvetica;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}